<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>17</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>https://raw.githubusercontent.com/SelwynIsLoading/DreamScannerApp/FinalReleasing/Published/</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <ProductName>DreamScanner</ProductName>
    <PublishDir>bin\Release\net7.0-windows\app.publish\</PublishDir>
    <PublishUrl>C:\Users\cauba\Documents\DreamScannerApp\Published\</PublishUrl>
    <PublisherName>Selwyn Dev</PublisherName>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>(none)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <SuiteName>Selwyn Dev</SuiteName>
    <TargetCulture>en-US</TargetCulture>
    <TargetFramework>net7.0-windows</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <UpdateUrl>https://raw.githubusercontent.com/SelwynIsLoading/DreamScannerApp/FinalReleasing/Published/</UpdateUrl>
    <WebPageFileName>Publish.html</WebPageFileName>
    <History>True|2024-04-21T05:07:22.4516635Z;True|2024-04-21T12:40:05.5850730+08:00;True|2024-04-21T10:18:02.6870980+08:00;True|2024-04-20T16:09:16.0461705+08:00;True|2024-04-20T15:52:44.0822737+08:00;True|2024-04-20T15:48:27.8521713+08:00;True|2024-04-20T15:28:05.1520423+08:00;True|2024-04-20T15:18:06.1954556+08:00;True|2024-04-20T15:08:23.4916570+08:00;True|2024-04-20T15:00:42.6390009+08:00;True|2024-04-20T14:43:47.4144552+08:00;True|2024-04-20T14:37:16.9271841+08:00;True|2024-04-20T13:19:44.5912774+08:00;True|2024-04-20T12:41:51.2135497+08:00;True|2024-04-20T12:32:15.1136187+08:00;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.7.0.x64">
      <Install>true</Install>
      <ProductName>.NET Desktop Runtime 7.0.16 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>